.navbar,.navbar-brand{
    font-family: 'Cinzel','san-serif';
}






/* This styling allows the video to span the width of the wedsite*/
.video-card {
    height:400px;
    z-index: -1;
  }
  
  video{
  
  width: 100%; 
  height:100%
  }





  /*Footer Section*/
.extra-text{
    font-size: small;
  }
  
  footer {
  
    bottom: 0;
    width: 100%;
    height: 100px;   /* Height of the footer */
   background-color:#F5F5DC ;
  }